[submodule "home/.config/zsh/custom/plugins/zsh-completions"]
	path = home/.config/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "home/.config/zsh/custom/plugins/zsh-autosuggestions"]
	path = home/.config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
